<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/shoe_store</property>
    <property name="hibernate.connection.username">root</property>
    <mapping resource="Pojos/OrderAppDetail.hbm.xml"/>
    <mapping resource="Pojos/DeliveryLog.hbm.xml"/>
    <mapping resource="Pojos/ProductReview.hbm.xml"/>
    <mapping resource="Pojos/CartItem.hbm.xml"/>
    <mapping resource="Pojos/ProductImage.hbm.xml"/>
    <mapping resource="Pojos/UserWishlist.hbm.xml"/>
    <mapping resource="Pojos/User.hbm.xml"/>
    <mapping resource="Pojos/OrderWebDetail.hbm.xml"/>
    <mapping resource="Pojos/OrderApp.hbm.xml"/>
    <mapping resource="Pojos/Color.hbm.xml"/>
    <mapping resource="Pojos/ProductSize.hbm.xml"/>
    <mapping resource="Pojos/ProductView.hbm.xml"/>
    <mapping resource="Pojos/ProductColor.hbm.xml"/>
    <mapping resource="Pojos/OrderWeb.hbm.xml"/>
    <mapping resource="Pojos/Brand.hbm.xml"/>
    <mapping resource="Pojos/Product.hbm.xml"/>
    <mapping resource="Pojos/Category.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
